:root {
  --color-bg: #080808;
  --color-text: #f7f7f7;
  --color-link-hover: #d36b00;
  --color-accent: #f2e500;
  --font-primary: "Courier New", Courier, monospace;
  --font-size-base: 1rem;
  --font-size-title: clamp(1.5rem, 8vw, 4rem);
}

*, 
*:before, 
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  line-height: 1.2;
  font-family: var(--font-primary);
  padding: 1.5rem 2rem;
  /* prevents text select */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

nav ul {
  padding: 0;
}

nav ul.sub-menu{
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-transform: none;
  padding: 0 0 5px;
}

nav > ul > li {
  text-transform: uppercase;
  color: var(--color-accent);
}

.sub-menu li:not(:last-child)::after {
  content: ":";
  color: var(--color-accent);
  margin-left: 10px;
}

nav a:hover,
nav a:focus{
 color: var(--color-accent);
}

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

section {
  padding: 2rem 0;
  margin: 0 auto 0 0;
  max-width: 1440px;
}

section.fullscreen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

section p {
  margin-bottom:20px;
}

h1, h2, h3, ul, li, p {
  color: var(--color-text);
}

h2{
  font-size: var(--font-size-base);
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-accent);
}

h2:before{
  content:":::::::";
  color: var(--color-accent);
  margin-right: 10px;
}

h3{
  font-size: 1.5rem;
  font-weight: 300;
}

ul{
  list-style: none;
}

ol{
  list-style: none;
  counter-reset: item;
  padding-left: 0;
}

ol li{
  counter-increment: item;
  margin: 0.5em 0;
}

ol li::before {
  content: "[" counter(item) "] ";
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

section a {
  text-decoration: underline;
  color: var(--color-accent);
}

section a:hover{
  color: #fff;
}

a:hover {
  color: var(--color-link-hover);
}

.header {
  display: grid;
  grid-template-columns: 80% 2% 18%;
}

.header > :last-child {
  justify-self: end;
}

.asterix{
  color: var(--color-accent);
}

.title {
  font-size: var(--font-size-title);
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.ascii-title {
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 0;
}

.ascii-title .label {
  padding: 0 30px;
  color: var(--color-accent);
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
}

.image > pre {
  font-family: monospace;
  line-height: 1.1;
  max-width: 100%;
  overflow-x: visible;
  white-space: pre;
  word-break: break-word;
  font-size: clamp(0.45rem, 1vw, 0.85rem);
}

.hr-pre {
  border: none;
  height: 2px;
  background: repeating-linear-gradient(
    to right,
    #fff 0,
    #fff 10px,
    transparent 10px,
    transparent 16px
  );
  margin: 4rem 2px 0;
}

.hr-pre + .hr-pre{
  margin-top: 5px;
}

.description-link{
  color: var(--color-accent);
}

.svg-char {
  display: inline-flex;
  width: 1ch;
  height: 1em;
  vertical-align: middle;
  transform-origin: left;
  position:relative;
}

.svg-char svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 52em;
  height: 52em;
  transform: translate(-39%, -19%);
  pointer-events: none;
}

.svg-char text {
  font-family: inherit;
  font-size: 1em;
  fill: white;
}

#activities p:not(:last-child)::after {
  content: "=>";
  display: block;
  transform: rotate(90deg);
  transform-origin: left top;
  margin-top: 1em;
  margin-left: 1em;
}

#activities {
  overflow: hidden;
  padding-bottom: 1px;
}

.logo-grid {
  display: flex;
  flex-flow: wrap;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
}

.logo-grid img {
  max-width: 150px;
  height: auto;
}


@media (max-width: 768px) {
  .european {
    position: absolute;
    bottom: 10vw;
    width: 200px;
    left: 0;
    transform: translateX(50%);
  }
}

@media (min-width: 769px) {
  nav, #hero {
    padding-left: 150px;
  }

  header p{
    max-width: 40%;
  }

  header p > br{
    display: block;
  }

  section .container {
    max-width: 75%;
    padding-left: 150px;
    position: relative;
  }

  section .container:before {
    content: "***";
    display: block;
    color: var(--color-accent);
    position: absolute;
    right: -10em;
    top: 42px;
  }

  .image > pre {
    font-size: clamp(1rem, 2vw, 1rem);
  }
}